html {
	background: linear-gradient(45deg, #7986cb, #80deea);
	height: 100%;
}

#selectPlayer1 {

}

#selectPlayer2 {

}

#player1 {
	margin-top: 20px;
	margin: 10px;
	background-color: #d32f2f;
	color: white;
	height: 230px;
	border-radius: 20px;
}

#player1Buttons {
	margin-top: 10px;
}

#player1Buttons a {
	width: 150px;
	height: 63px;
	background-color: #d32f2f;
	border-radius: 20px;
}

#player1Buttons a:hover {
	background-color: #26a69a;
}

#player2 {
	margin-top: 20px;
	margin: 10px;
	background-color: #ffb74d;
	color: white;
	height: 230px;
	border-radius: 20px;
}

#player2Buttons {
	margin-top: 10px;
}

#player2Buttons a {
	width: 150px;
	height: 63px;
	background-color: #ffb74d;
	border-radius: 20px;
}

#player2Buttons a:hover {
	background-color: #26a69a;
}

#chat {
	background-color: #eceff1;
	border-radius: 5px;
	padding: 10px;
	width: 816px;
}

#chat-text {
	background-color: #eceff1;
	border-radius: 5px;
	padding: 10px;
	width: 705px;
}

#chat-text-submit {
	height: 50px;
    margin-top: 30px;
    margin-left: 10px;
    width: 100px;
}